@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { 
  
  background-image: url("savana.jpg");
  color: white;
  height: 100%;
  position: relative;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
form { 
max-width:420px;
 margin:50px auto;
 opacity: 80%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
   0 10px 10px rgba(0,0,0,0.22);
 overflow: hidden;
 width: 768px; 
 }

h1 {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color:white;
	font-weight: bold;
  text-align: center;
	margin: 0;
  padding-top:20px;}

.feedback-input {
  color:black ;
  font-weight:800;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }